
:root{
  --box-shadow:5px 5px 10px 10px rgba(101,175,10,0.5);
  --bg-color:rgb(40,47,97)
}
body{
  background-color: rgb(11, 26,51);
  color: white;
}

a{
  text-decoration: none;
  color: white;
}

/* nav_bar style */
.nav_bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_bar .nav_items{

  padding: 16px;
  font-size: 1.2rem;
  font-weight: bold;
  
}
.nav_bar .nav_items:hover{
  border-bottom: 3px solid yellow
}


/* Home section */
.home{
  height: 80vh;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.home .left{
  background-color:var(--bg-color);
  width: 620px;
  text-align:center;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid yellow;
  box-shadow: var(--box-shadow)
}

.home.right.img{
  display: flex;
  justify-content:center;
  align-items: center;
}

.home .right .img img{
  height: 300px;
  width: 300px;
  background-color: yellow;
  border-radius: 100%;
  animation-name:owner;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes owner {

  0%{
    border-color: yellow;
    transform: translate(0,0px);
    box-shadow: 10px 10px 100px 50px yellow;
  }
  25%{
    border-color: rgb(0, 255, 255);
    box-shadow: 10px 10px 100px 50px rgb(0, 255, 255);
  }
  50%{
    border-color: rgb(164, 120, 100);
    transform: translate(0,10px);
    box-shadow: 10px 10px 100px 50px rgb(239, 244, 20);
  }
  75%{
    border-color: rgb(18, 207, 240);
    box-shadow: 10px 10px 100px 50px rgb(18, 207, 240);
  }
  100%{
    border-color:  rgb(45, 15, 247);
    transform: translate(0,-10px);
    box-shadow: 10px 10px 100px 50px rgb(45, 15, 247);
  }
}

